body {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

#loading {
  color: blue;
}

tr, td {
  vertical-align: middle !important;
}

img {
  -webkit-transition: -webkit-transform .8s ease;
  transition: transform .3s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

nav {
  padding: 3px 10px;
}

#prev {
  float: left;
}

#next {
  float: right;
}

#prev:hover, #next:hover {
  background-color: white;
}

.reset-float::after {
  clear: both;
  display: block;
  content: '';
}